@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>产品搜索</h2>
<div style="clear: both;"></div>

<div class="result">搜索结果：<b>L30墨仓式打印机</b></div>
<div class="printer">
    <div>
        <p style="font-size: 16px; color: #666; font-weight: bold;">喷墨打印机</p>
        <p class="epson">爱普生 L301 墨仓式打印机</p>
        <a href="" class="check">查看详情</a>
    </div>
    <div>
        <p style="font-size: 16px; color: #666; font-weight: bold;">喷墨打印机</p>
        <p class="epson">爱普生 L301 墨仓式打印机</p>
        <a href="" class="check">查看详情</a>
    </div>
    <div style="border: 0">
        <p style="font-size: 16px; color: #666; font-weight: bold;">喷墨打印机</p>
        <p class="epson">爱普生 L301 墨仓式打印机</p>
        <a href="" class="check">查看详情</a>
    </div>
</div>
