@{
    Layout = null;
}

<!DOCTYPE html>

<html style="background: #242527;">
<head>
    <title>Top</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />
    <!-- 基础框架样式 -->
    <link rel="stylesheet" href="/lib/base.css" />
    <link rel="stylesheet" href="/lib/gradient.css" />
    <script src='/lib/jquery.js'></script>
    <script src="/lib/base.js"></script>
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="/img/style.css" />
    <!-- 时间日历样式 -->
    <link rel="stylesheet" href="/lib/datepicker.css" />
    <link rel="stylesheet" href="/lib/datepicker.g.css" />
    <script src="/lib/datepicker.js"></script>
</head>
<body margin="0">
    <div class="ms-head">
        <cite>
            <a href="" class="ms-mess"><i class="uk-icon-envelope-o"></i><b>5</b></a>
            <div style="display: inline;" data-uk-dropdown="{mode:'click'}" class="uk-button-dropdown ms-center">
                <a class="ms-user"><b>
                    <img src="/img/t.jpg" alt=""></b> Niwashi <i class="uk-icon-angle-down"></i></a>
                <div class="uk-dropdown">
                    <ul class="uk-nav uk-nav-dropdown">
                        <li><a href="#"><i class="uk-icon-user-md"></i>个人中心</a></li>
                        <li><a href="#"><i class="uk-icon-calendar"></i>查看日志</a></li>
                        <li><a href="#"><i class="uk-icon-comments-o"></i>我的消息</a></li>
                        <li><a href="#"><i class="uk-icon-unlock-alt"></i>权限管理</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#"><i class="uk-icon-sign-out"></i>退 出</a></li>
                    </ul>
                </div>
            </div>



        </cite>
        <i class="ms-logo">微站管理系统<b>v1.0</b></i>
    </div>
</body>
</html>
