<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<base target="_blank">
<title>南京名炽行数码科技有限公司--产品列表</title>
<link rel="stylesheet" href="img/style.css" />
</head>

<body>
<div class="head-box">
  <div class="head">
  <div class="search"><input type="text"><button>搜 索</button></div>
    <cite>
      <a href="index.html">首页</a>
      <a href="chanpin.html" class="open">产品介绍</a>
      <a href="us.html">联系我们</a>
    </cite>
    <a href="index.html"><img src="img/logo.png" alt=""></a>
  </div>
</div>

<div class="banner-box"></div>


<div class="arc">
  <h2>产品搜索</h2>
  <div style="clear:both;"></div>
  
  <div class="result">搜索结果：<b>L30墨仓式打印机</b></div>
    <div class="printer">
      <div>
        <p style="font-size:16px; color:#666; font-weight:bold;">喷墨打印机</p>
        <p class="epson">爱普生 L301 墨仓式打印机</p>
        <a href="" class="check">查看详情</a>
     </div>
     <div>
        <p style="font-size:16px; color:#666; font-weight:bold;">喷墨打印机</p>
        <p class="epson">爱普生 L301 墨仓式打印机</p>
        <a href="" class="check">查看详情</a>
     </div>
     <div style="border:0">
        <p style="font-size:16px; color:#666; font-weight:bold;">喷墨打印机</p>
        <p class="epson">爱普生 L301 墨仓式打印机</p>
        <a href="" class="check">查看详情</a>
     </div>
   </div>
   
   
</div>

 
<div class="foot-box">
<div class="foot">
  <ul>
    <li><p>南京名炽行数码科技有限公司</p>
    <p>玄武区珠江路688号1-01幢280室</p>
    <p>njmcxsm@126.com</p>
    <p>王先生 18105180604</p>
    </li>
    <li><p style="font-weight:bold;font-size:14px;">业务类型</p>
    <p>现代化办公室设备</p>
    <p>品牌电脑</p>
    <p>会议设备</p>
    <p>办公文具</p>
    </li>
    <li><p style="font-weight:bold;font-size:14px;">产品类型</p>
    <p>打印机</p>
    <p>传真机</p>
    <p>复印机</p>
    <p>投影机</p>
    <p>碎纸机</p>
    </li>
    <li><p style="font-weight:bold;font-size:14px;line-height:30px;">关于我们</p>
    <p><a href="us.html">联系我们</a></p>
    </li>
  </ul>
  <p class="co">copyright@2014 版权所有</p>
</div>
</div>
</body>
</html>
